@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/mulish-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Mulish;
}
.bg-purpe {
  background-color: #160e25;
}
.fs-5p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
}
.fs-6p {
  color: #ffffff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}
.btn-card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 159px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 23.5px;
  border: 2px solid #160e25;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0px 25px 21px -19px rgba(18, 9, 34, 0.83);
  opacity: 0.7;
}
.btn-card1:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width:159px;;
  height: 48px;
  flex-shrink: 0;
  border-radius: 23.5px;
  border: 2px solid #3f394b;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0px 25px 21px -19px rgba(18, 9, 34, 0.83);
  opacity: 0.7;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.img-character{
    width: 100px;
    height: 100px;
    border: 2px solid  #ada7bb45;
    border-radius: 50%;
    object-fit:cover;
    margin: 10px 0px;
}
#card-bg {
  background-color: #241839;
  color: #ffffff;
  border-color: #ffffff3d;
}
#mt-6{
  margin-top:20%;
}
i{
  font-size:15px;
}
.icon-width{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 25px;
}
#card-info{
  height: 160px;
}